<head>
  <style>
    * {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="description" content="Tape Deck - record radio streams to the cloud.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self';base-uri 'self';form-action 'self'">
  <script src="/static/htmx.min.js"></script>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <title>{{ . }}</title>
</head>