<!DOCTYPE html>
<html lang="en">

{{if .}}
{{template "header.html" (printf "Tape Deck Recordings (%v)" (len .))}}
{{else}}
{{template "header.html" "Tape Deck Recordings"}}
{{end}}

<body>
  {{template "body-header.html" .}}
  <main>
    <h1>Your Recordings</h1>
    {{if .}}
    {{range .}}
    <table class="table delete-row-example">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody hx-target="closest tr" hx-swap="outerHTML">
        <tr>
          <td><a href="/s/playback?id={{.Id}}">{{.Title}}</a></td>
          <td>{{.Desc}}</td>
          <td>{{.Status}}</td>
        </tr>
      </tbody>
    </table>
    {{end}}
    {{else}}
    <h3>You do not have any recordings.</h3>
    <p>
      <a href="/s/record">Record Now</a>
    </p>
    {{end}}
  </main>
  {{template "body-footer.html" .}}
</body>

</html>